@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin-left: 5px;
}
body {
  font-family: "Montserrat", sans-serif;
}
header span {
  margin-right: 20px;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 10px;
  width: 50%;
}

a {
  text-decoration: none;
  padding-right: 16px;
}

li {
  padding: 15px;
}

section {
  margin: 10px 0px;
}

nav {
  margin: 10px 0px;
}

#resume {
  color: black;
  font-weight: bolder;
  padding-left: 0px;
}

.roles {
  list-style-type: square;
}

.roles li{
  padding-top: 10px;
}

.heading {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  padding: 8px;
  background-color: aliceblue;
  text-shadow: 1px 1px 5px rgba(248, 163, 83, 0.6);
}
.info {
  font-weight: bold;
  padding-right: 5px;
}

.angular {
  color: darkorange;
}

.listSummary li{
  list-style: none;
}
.listSummary li::marker{
  content: "✍️"; 
}